.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .container {
    display: flex;
    overflow: hidden;

    width: 100rem;
    height: 22.5rem;
    margin-top: 6rem;

    background-color: rgba(255, 255, 255, 60%);
    border-radius: 3rem;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 20%);

    opacity: 0;
    transform: translateY(10rem);
}

.content .container .pic {
    width: 40%;
    height: 100%;
    background-color: skyblue;
}

.content .container .pic img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.content .container .word {
    display: flex;
    flex-direction: column;

    width: 60%;
    padding: 1rem 1.2rem;
}

.content h2 {
    margin-bottom: 1rem;

    color: #8fd3f4;
    font-size: 3rem;
    font-family: FangSong;
    text-align: center;
    letter-spacing: 3px;
}

.content p {
    color: #40A0A0;
    font-size: 14px;
    line-height: 1.5em;
    text-indent: 2em;
}

.content .container:nth-child(1) {
    animation: appear 1s forwards 0s;
}

.content .container:nth-child(2) {
    animation: appear 1s forwards 0.5s;
}

.content .container:nth-child(3) {
    animation: appear 1s forwards 1s;
}

.content .container:nth-child(4) {
    animation: appear 1s forwards 1.5s;
}

.content .container:nth-child(5) {
    animation: appear 1s forwards 2s;
}

.content .container:nth-child(6) {
    animation: appear 1s forwards 2.5s;
}

.content .container:nth-child(7) {
    animation: appear 1s forwards 3s;
}

.content .container:nth-child(8) {
    animation: appear 1s forwards 3.5s;
}

.content .container:nth-child(9) {
    animation: appear 1s forwards 4s;
}

.content .container:nth-child(10) {
    animation: appear 1s forwards 4.5s;
}

.content .container:nth-child(11) {
    animation: appear 1s forwards 5s;
}

.content .container:nth-child(12) {
    animation: appear 1s forwards 5.5s;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}